* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000;
}
h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 48px;
}
p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.005em;
}
hr {
  border: none;
  background-color: #000;
  color: #000;
  height: 1px;
  text-align: center;
}

button {
  border: none;
  overflow: none;
  width: 100%;
  height: 73.14px;
  left: 137px;
  top: 575.88px;
  background: #9C86D5;
  border-radius: 100px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 28px;
  outline: none;
  cursor: pointer;
  transition: 0.5s linear;
}

.firstBlock button:hover, .fourthBlock button:hover, .fifthBlock button:hover{
  background: #8c71d1;
}

.boldText {
  font-weight: 700;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
header {
  background-image: url("../img/firstBlockBackground.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFCEA;
  width: 100%;
  height: 1024px;
  padding-top: 50px;
}
.header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav {
  width: 49.5%;
}
.header nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.header nav ul #first {
  margin-left: 2.9%;
}
.header nav a {
  text-decoration: none;
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size 0.8s;
}

.header nav a:hover {
  background-size: 100% 1.5px;
}

.header .phone{
  display: flex;
  width: 15%;
}

.header .phone img, .header .logo img {
  max-width: 100%;
  max-height: auto;
}

.header .phone #phone {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.menu-open{
  background: none;
  border: none;
  width: auto;
  height: 24px;
  display: none;
  transition: 0.5s;
  z-index: 1;
}

.header .logo{
  z-index: 1;
  width: 16.6%;
}

.header .show-menu{
  display: block;
}

header .show-menu ul {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFCEA;
  padding-top: 20%;
  padding-bottom: 20%;
}

.header .show-menu ul li{
  font-size: 34px;
  margin-bottom: 20px;
}

 .header .show-menu ul li:last-child{
  margin: 0 ;
}

.firstBlock .firstBlockText {
  margin-top: 222px;
  margin-bottom: 385px;
  width: 430px;
}
.firstBlock .firstBlockText h1 {
  margin-bottom: 10%;
}
.firstBlock .firstBlockText p {
  margin-bottom: 8%;
}
.secondBlock {
  background: #E1C189;
  padding-top: 60px;
  padding-bottom: 84px;
}
.secondBlock .container {
  display: flex;
  justify-content: space-between;
}
.secondBlock .leftBlock {
 width: 41%;
}
.secondBlock .leftBlock img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.secondBlock .leftBlock h1 {
  margin-top: 12px;
  margin-bottom: 5.52%;
}
.secondBlock .leftBlock ol {
  list-style-type: none;
}
.secondBlock .leftBlock li {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.005em;
}
.secondBlock .rightBlock {
  width: 49%;
}
.secondBlock .rightBlock h1 {
  margin-bottom: 4.5%;
}
.secondBlock .rightBlock p {
  margin-bottom: 16px;
}
.secondBlock .rightBlock img {
  display: block;
  width: 100%;
  margin-top: 31px;
}
.thirdBlock .container {
  padding-top: 106px;
  padding-bottom: 135px;
}
.thirdBlock h1 {
  text-align: center;
  margin-bottom: 3.5%;
}
.thirdBlock p {
  font-size: 36px;
  text-align: center;
}
.thirdBlock img {
  display: block;
  max-width: 140px;
  width: 100%;
  margin: auto;
}
.thirdBlock .services {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.thirdBlock .services .service-item1 {
  width: 50%;
  margin-right: 3.5%;
}
.thirdBlock .services .service-item2 {
  margin-left: 3.5%;
  width: 50%;
}
.fourthBlock {
  background-image: url("../img/fourthBlockBackgound.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFCEA;
  padding-top: 122px;
  padding-bottom: 408px;
}
.fourthBlock .fourthBlockText {
  max-width: 580px;
}
.fourthBlock .fourthBlockText h1 {
  margin-bottom: 7.3%;
}
.fourthBlock .fourthBlockText p {
  width: 79%;
  margin-bottom: 5.4%;
}
.fourthBlock .fourthBlockText button {
  width: 72.6%;
}
.fifthBlock {
  background-color: #FFFCEA;
  padding-top: 61px;
  padding-bottom: 78px;
}
.fifthBlock .container {
  background-image: url("../img/fifthBlockBackground.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.fifthBlock .sub {
  font-size: 36px;
  line-height: 47px;
  margin-top: 2.9%;
}
.fifthBlock .fifthBlockUpper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.fifthBlock .fifthBlockUpper  h1,  .fifthBlock .fifthBlockLower h1{
  font-size: 40px;
}

.fifthBlock .fifthBlockUpper .makeYourPhotosBetter button, .fifthBlock .fifthBlockUpper .makeYourPhotosBetter p{
  width: 90%;
}

.fifthBlock .fifthBlockUpper h1 {
  margin-bottom: 6%;
}
.fifthBlock .fifthBlockUpper .fifthBlockImageAndText {
  max-width: 311px;
}
.fifthBlock .fifthBlockUpper .fifthBlockImageAndText img {
  display: block;
  width: 100%;
}
.fifthBlock .fifthBlockUpper .fifthBlockImageAndText p {
  text-align: center;
  margin-bottom: 0;
}
.fifthBlock .fifthBlockUpper p {
  margin-bottom: 5.5%;
}
.fifthBlock .makeYourPhotosBetter {
  width: 49%;
}
.fifthBlock .fifthBlockLower {
  display: flex;
  justify-content: space-between;
}
.fifthBlock .fifthBlockLower h1 {
  width: 100%;
  margin-bottom: 7.4%;
}
.fifthBlock .fifthBlockLower p {
  width: 100%;
  margin-bottom: 5.4%;
}
.fifthBlock .fifthBlockLower button {
  width: 73.5%;
  margin-bottom: 18%;
}
.fifthBlock .fifthBlockLower .fifthBlockImageAndText {
  width: 49%;
}
.fifthBlock .fifthBlockLower .fifthBlockImageAndText img {
  display: block;
  width: 100%;
  max-width: 311px;
}
.fifthBlock .fifthBlockLower .fifthBlockImageAndText .sub {
  max-width: 311px;
  text-align: center;
  margin-top: 1.58%;
}
.fifthBlock .whyRetouchPhoto {
  width: 41%;
  margin-top: 7.2%;
}
footer {
  background: #E1C189;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 71px;
}
footer .container .contactInfo {
  display: block;
  margin-bottom: 7.1%;
}
footer .container .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container .icons img {
  display: block;
  margin-right: 9%;
}
footer .container .icons .first {
  margin-right: 3%;
}
footer .container .icons .last {
  margin-right: 0;
}

footer a{
  display: block;
  margin-right: 9%;
}

footer .first{
margin-right: 3%;
}

footer .last{
margin-right: 0;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
  .header {
    width: 90%;
  }

  .secondBlock .leftBlock {
    width: 44%;
   }
  
   .secondBlock .rightBlock {
     width: 52%;
   }
}
@media screen and (max-width: 1200px) {
 
  header {
    background-image: url("../img/firstBlockBackground\(992-1200\).jpg");
    height: 862px;
  }

  .header nav ul {
    font-size: 16px;
  }
  
  .header .phone #phone {
    font-size: 17px;
  }

  .firstBlock .firstBlockText {
    margin-top: 170px;
    margin-bottom: 300px;
    width: 430px;
  }

  .thirdBlock .container {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .fourthBlock {
    background-image: url("../img/fourthBlockBackground\(992-1200\).jpg");
    height: 760px;
  }
  .fifthBlock {
    background: #FFFCEA;
  }

  .fifthBlock .container {
    background-image: url("../img/firstBlockBackground\(992-1200\).jpg");
  }

  .fifthBlock .fifthBlockUpper {
    margin-bottom: 7.5%;
  }

  .fifthBlock .fifthBlockUpper h1,
  .fifthBlockLower h1 {
    font-size: 40px;
  }

  .fifthBlock .fifthBlockUpper .makeYourPhotosBetter button, .fifthBlock .fifthBlockUpper .makeYourPhotosBetter p{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {

  .header nav ul #first {
    margin-left: 0; 
  }

  .header nav {
    width: 54%;
  }
  
  .header nav ul {
    font-size: 14px;
  }

  .header .phone #phone {
    font-size: 15px;
  }
  header {
    background-image: url("../img/firstBlockBackground\(769-992\).jpg");
    height: 705px;
  }
  h1 {
    font-size: 42px;
    margin-bottom: 6%;
  }
  p {
    font-size: 20px;
    margin-bottom: 4%;
  }
  .firstBlock .firstBlockText h1 {
    margin-bottom: 6%;
  }
  .firstBlock .firstBlockText p {
    margin-bottom: 4%;
  }
  .firstBlock .firstBlockText {
    width: 400px;
    margin-top: 100px;
  }
  button {
    font-size: 22px;
    height: 60px;
  }
  .secondBlock .container {
    flex-direction: column-reverse;
  }
  .secondBlock .rightBlock {
    margin: auto;
  }
  .secondBlock .rightBlock h1 {
    margin-bottom: 3%;
    text-align: center;
  }
  .secondBlock .rightBlock p {
    text-align: center;
  }
  .secondBlock .leftBlock {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  .secondBlock .leftBlock, .secondBlock .rightBlock{
    width: 78.7%;
  }

  .secondBlock .leftBlock h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3%;
  }
  .secondBlock .rightBlock img,
  .secondBlock .leftBlock img {
    margin-top: 25px;
  }
  hr {
    display: none;
  }
  ol {
    text-align: center;
  }
  .thirdBlock p {
    font-size: 30px;
  }
  .fourthBlock {
    background-image: url("../img/fourthBlockBackground\(769-992\).jpg");
    height: 625px;
    padding-top: 50px;
  }
  .fourthBlock .fourthBlockText {
    max-width: 500px;
  }
  .fourthBlock .fourthBlockText p {
    margin-bottom: 3%;
  }
  .fourthBlock .fourthBlockText h1 {
    margin-bottom: 4%;
  }
  .fifthBlock .container {
    background: #FFFCEA;
  }
  .fifthBlock .fifthBlockUpper,
  .fifthBlockLower {
    flex-direction: column-reverse;
  }
  .fifthBlock .whyRetouchPhoto,
  .fifthBlock .makeYourPhotosBetter {
    margin: auto;
    width: 70%;
    text-align: center;
    max-width: 504px;
  }
  .fifthBlock .fifthBlockLower .fifthBlockImageAndText,
  .fifthBlock .fifthBlockUpper .fifthBlockImageAndText {
    width: 70%;
    margin: auto;
    max-width: 504px;
  }
  .fifthBlock .fifthBlockLower .fifthBlockImageAndText img,
  .fifthBlock .fifthBlockUpper .fifthBlockImageAndText img,
  .fifthBlock .fifthBlockLower .fifthBlockImageAndText .sub {
    max-width: 504px;
  }
  .fifthBlock button {
    margin-bottom: 10%;
  }
  .fifthBlock .fifthBlockUpper p {
    margin-bottom: 6%;
  }
  .fifthBlock .fifthBlockUpper h1,
  .fifthBlock .fifthBlockLower h1 {
    margin-bottom: 7%;
  }

  .fifthBlock .fifthBlockLower .fifthBlockImageAndText .sub {
    margin-top: 2.9%;
  }
}
@media screen and (max-width: 768px) {

  .header{
    align-items: flex-start;
  }

.header .phone {
  display: none;
}

.header .phone {
  display: none;
}

.menu-open{
  display: block;
}

nav {
  display: none;
} 

.menu-open{
  width: 5.8%;
}

.menu-open img{
  width: 100%;
}

.header .logo img {
  width: 100%;
}

.header .logo{
  width: 30%;
}  

  header {
    background-image: url("../img/firstBlockBackground\(577-768\).png");
    height: 1003px;
  }
  .firstBlock .firstBlockText {
    margin: 40px auto;
  }
  .firstBlock .firstBlockText h1 {
    text-align: center;
  }
  .fourthBlock .fourthBlockText {
    margin: auto;
  }
  .fourthBlock .fourthBlockText h1,
  .fourthBlock .fourthBlockText p {
    text-align: center;
    width: 100%;
  }
  .fourthBlock .fourthBlockText button {
    margin: auto;
    display: block;
  }
  .firstBlock .firstBlockText button {
    width: 91%;
    display: block;
    margin: auto;
  }
  .fourthBlock {
    background-image: url("../img/fourthBlockBackground\(577-768\).png");
    height: 900px;
  }
  .fifthBlock .whyRetouchPhoto,
  .fifthBlock .makeYourPhotosBetter {
    width: 504px;
  }
  .fifthBlock button {
    width: 72.6%;
  }
  footer .container {
    flex-direction: column;
  }
  .footerLeft,
  .footerRight {
    margin: auto;
    margin-bottom: 3%;
  }
  .footerLeft .contactInfo {
    text-align: center;
    margin-bottom: 3%;
  }
  footer .container {
    padding-top: 25px;
    padding-bottom: 80px;
  }
  .footerLeft,
  .footerRight {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 576px) {
  
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }

  header{
    padding-top: 30px;
  }

  .menu-open{
    display: block;
    width: 7%;
  }

.header .show-menu ul li{
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 525;
}

  .secondBlock .leftBlock li {
    font-size: 18px;
  }
  button {
    font-size: 16px;
    height: 50px;
  }
  .firstBlock .firstBlockText button,
  .fourthBlock .fourthBlockText button,
  .fifthBlock button {
    width: 300px;
  }
  header {
    background-image: url("../img/firstBlockBackground\(421-576\).png");
    height: 800px;
  }
  .fifthBlock .whyRetouchPhoto,
  .fifthBlock .makeYourPhotosBetter {
    width: 350px;
  }
  .thirdBlock .services {
    flex-direction: column;
  }
  .thirdBlock .services .service-item1,
  .thirdBlock .services .service-item2 {
    margin: auto;
  }
  .firstBlock .firstBlockText {
    width: 350px;
    text-align: center;
  }
  .fourthBlock {
    background-image: url("../img/fourthBlockBackground\(421-576\).png");
    height: 900px;
  }
  .fifthBlock .fifthBlockUpper h1,
  .fifthBlockLower h1 {
    font-size: 28px;
  }
  .fifthBlock .fifthBlockLower .fifthBlockImageAndText,
  .fifthBlock .fifthBlockUpper .fifthBlockImageAndText {
    width: 92%;
  }
  footer .contactInfo {
    font-size: 18px;
  }
  footer .container {
    padding-top: 15px;
    padding-bottom: 80px;
  }
  .footerLeft,
  .footerRight {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 420px) {

  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }

  .menu-open{
    display: block;
    width: 7%;
  }

  .header .logo{
    width: 40%;
  }

.header .show-menu ul li{
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 500;
}

header .show-menu ul {
  padding-top: 30%;
  padding-bottom: 30%;
}

  .secondBlock .leftBlock li {
    font-size: 14px;
    line-height: 18px;
  }
  button {
    font-size: 16px;
    height: 40px;
  }
  .firstBlock .firstBlockText button,
  .fourthBlock .fourthBlockText button,
  .fifthBlock button {
    width: 222px;
  }
  header {
    background-image: url("../img/firstBlockBackground\(320-420\).png");
    height: 680px;
  }
  .firstBlock .firstBlockText {
    width: 280px;
  }
  .secondBlock .rightBlock h1,
  .secondBlock .leftBlock h1 {
    margin-bottom: 7.9%;
  }
  .secondBlock .leftBlock h1 {
    margin-top: 45px;
  }
  .secondBlock .rightBlock p {
    margin-bottom: 30px;
  }
  .secondBlock .leftBlock img {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .secondBlock {
    padding-top: 48px;
    padding-bottom: 52px;
  }
  .thirdBlock img {
    max-width: 115px;
  }
  .thirdBlock p {
    font-size: 24px;
    line-height: 30px;
  }
  .thirdBlock .container {
    padding-top: 48px;
    padding-bottom: 98px;
  }
  .fourthBlock {
    padding-bottom: 380px;
  }
  .fourthBlock .fourthBlockText h1 {
    margin-bottom: 6%;
  }
  .fourthBlock .fourthBlockText p {
    margin-bottom: 5%;
  }

  .fourthBlock {
    background-image: url("../img/fourthBlockBackground\(320-420\).png");
    height: 750px;
  }

  .fifthBlock .whyRetouchPhoto,
  .fifthBlock .makeYourPhotosBetter {
    width: 280px;
  }
  .fifthBlock {
    padding-top: 45px;
    padding-bottom: 78px;
  }
  .fifthBlock .fifthBlockUpper h1,
  .fifthBlockLower h1 {
    font-size: 24px;
  }
  .fifthBlock button {
    margin-bottom: 12.5%;
  }
  .fifthBlock .fifthBlockUpper p {
    margin-bottom: 6.5%;
  }
  .fifthBlock .fifthBlockUpper {
    margin-bottom: 0;
  }
  .fifthBlock .whyRetouchPhoto {
    margin-top: 45px;
  }

}
